/* default */
* {
    background-color: rgb(32,33,37);
}
p {
    background-color: transparent;
    font-family:sans-serif;
}


/* large chunks */
body{
    /* background-color:pink; */
    position:fixed;
    margin:0;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
#canvas{
    background-color:yellow;
    height:90%;
}
#canvas_right{
    background-color:hotpink;
    float:right;
    width:28%;
    height:100%;
    display:flex;
    align-items:center;
}
#canvas_mid{
    background-color:hotpink;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
}
#canvas_left{
    background-color:orange;
    float:left;
    width:72%;
    height:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
#navbar{
    /* background-color:cornflowerblue; */
    height:10%;
    background-color: #202124;

    width: 97%;
    /* height: 80px; */
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    color:white;
}
#user_container{
    background-color:red;
    height:80%;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

/* user section */
.displaying_main_user{
    background-color:rebeccapurple;
    width:95%;
    height:95%;
}
.displaying_main_user > .user_mid_sec{
    width:160px !important;
    height:160px !important;
    font-size:60px !important;
}
.displaying_main_user > .user_top_sec{
    width:100% !important;
    margin:none !important;
}
.displaying_main_user > .user_btm_sec{
    width:100% !important;
    margin:none !important;
}
.displaying_main_user{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}
.user{
    background-color:grey;
    width:46%;
    height:33%;
    margin:5px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}
.user_mid{
    background-color:bisque;
    width:30% !important;
    height:40% !important;
}
.user_bar{
    background-color:blue;
    opacity:0.2;
    width:120px;
    height:40px;
    border-radius:20px;
    position:absolute;
    display: flex;
    font-size:20px;
    justify-content: space-around;
    align-items:center;
}
.user_bar > .fa-solid{
    background-color: transparent;
    color:black;
}
.display_off{
    display:none !important;
}
.user_top_sec{
    background-color:aqua;
    width:90%;
    margin:15px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.user_top_sec > .user_btn{
    background-color:cornflowerblue;
    width:30px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    border-radius:50%;    
}
.user_btn > .fa-solid{
    background-color:transparent;
}
.user_mid_sec{
    background-color:aquamarine;
    height:60px;
    width:60px;
    border-radius:50%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-size:35px;
}
.user_btm_sec{
    background-color:aliceblue;
    width:85%;
    padding:10px;
}

/* navbar section */
.text_section, .button_section, .icon_section{
    background-color:#202124;
    min-height:10px;
    min-width: 250px;
    word-spacing: 3px;
    padding: 0px 0px 0px 5px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.button_section > .button:hover{
    background-color: red;
}
.button_section > .button {
    background-color:#474b4f;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.button_section > .red_button{
    background-color:red !important;
}
.button > .fa-solid, icon_section .fa-solid{
    color:white;
    background-color:transparent;
    padding: 5px;
    font-size: 20 px;
}
.icon_section > .button{
    background-color:#202124;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.icon_section > .button:hover{
    background-color:rgb(40,41,44);
}
