/* default */
* {
    background-color: rgb(32,33,37);
}
p {
    background-color: transparent;
    font-family:sans-serif;
}


/* large chunks */
body{
    /* background-color:pink; */
    position:fixed;
    margin:0;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
#canvas{
    background-color:yellow;
    height:90%;
}
#canvas_right{
    background-color:hotpink;
    float:right;
    width:28%;
    height:100%;
    display:flex;
    align-items:center;
}
#canvas_mid{
    background-color:hotpink;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
}
#canvas_left{
    background-color:orange;
    float:left;
    width:72%;
    height:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
#navbar{
    height:10%;
    background-color: #202124;

    width: 97%;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    color:white;
}
#canvas_right #user_container{
    background-color:red;
    height:80%;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
}
#canvas_mid #user_container{
    background-color:red;
    height:100%;
    width:100%;
    padding: 15px 30px 15px 30px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
}
.canvas_left_full{
    width:100% !important;
}
.user{
    background-color:blueviolet;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    border-radius:15px;
}

/* user height and width */
#canvas_right .w_r_1{
    width:90%;
}
#canvas_right .w_r_2{
    width:47%;
}
#canvas_right .w_r_3{
    width:31%;
}
#canvas_right .h_r_1{
    height: 60%;
}
#canvas_right .h_r_2{
    height: 47%;
}
#canvas_right .h_r_3{
    height: 31%;
}
#canvas_right .h_r_4{
    height: 23%;
}
#canvas_right .h_r_5{
    height: 19%;
}

#canvas_mid .w_m_1{
    width:80%;
}
/* tight 2 */
#canvas_mid .w_m_2{
    width:45%;
}
#canvas_mid .w_m_3{
    width:30%;
}
#canvas_mid .w_m_4{
    width:23%;
}
#canvas_mid .w_m_5{
    width:19%;
}
#canvas_mid .h_m_1{
    height: 80%;
}
#canvas_mid .h_m_2{
    height: 47%;
}
#canvas_mid .h_m_3{
    height: 31%;
}

/* user section */
.displaying_main_user{
    background-color:rebeccapurple;
    width:95%;
    height:95%;
}
.displaying_main_user > .user_mid_sec{
    width:160px !important;
    height:160px !important;
    font-size:60px !important;
}
.displaying_main_user > .user_top_sec{
    width:100% !important;
    margin:none !important;
}
.displaying_main_user > .user_btm_sec{
    width:100% !important;
    margin:none !important;
}
.displaying_main_user{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    background-color:olivedrab;
    
}
/* .user{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
} */
.user_mid{
    background-color:bisque;
    width:30% !important;
    height:40% !important;
}
.user_bar{
    background-color:blue;
    opacity:0.2;
    width:120px;
    height:40px;
    border-radius:20px;
    position:absolute;
    display: flex;
    font-size:20px;
    justify-content: space-around;
    align-items:center;
}
.user_bar > .fa-solid{
    background-color: transparent;
    color:black;
}
.display_off{
    display:none !important;
}
.user_top_sec{
    background-color:aqua;
    width:90%;
    margin:5px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.user_top_sec > .user_btn{
    background-color:cornflowerblue;
    width:30px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    border-radius:50%;    
}
.buff{
    width:30px;
    height:30px;
    background-color:olive;
}
.user_btn > .fa-solid{
    background-color:transparent;
}
.user_mid_sec{
    background-color:aquamarine;
    min-height:60px;
    width:60px;
    border-radius:50%;
    display:flex;
    margin:2px;
    justify-content:space-around;
    align-items:center;
    font-size:35px;
}
.user_btm_sec{
    background-color:transparent;
    width:85%;
    padding:0px 10px 10px 10px;
}

/* navbar section */
.text_section, .button_section, .icon_section{
    background-color:#202124;
    min-height:10px;
    min-width: 250px;
    word-spacing: 3px;
    padding: 0px 0px 0px 5px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.button_section > .button:hover{
    background-color:lightgray;
}
.button_section > .button {
    background-color:#474b4f;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.button_section > .red_button{
    background-color:red !important;
}
.button_section > .red_button:hover{
    background-color:orchid !important;
}
.button_section > .blue_button{
    background-color:blue !important;
}
.button_section > .blue_button:hover{
    background-color:blueviolet !important;
}
.button > .fa-solid, .button > .fa-regular, icon_section .fa-solid{
    color:white;
    background-color:transparent;
    padding: 5px;
    font-size: 20 px;
}
.icon_section > .button{
    background-color:#202124;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.icon_section > .button:hover{
    background-color:rgb(40,41,44);
}
